<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .link {
            color: #dee2e6;
            text-decoration: none;
        }
        .link:hover {
            color: white;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark">
        <div class="container bg-dark rounded-3">
            <div class="d-flex py-1 ps-1 flex-row align-items-center">
                <a class="navbar-brand">MID TASK 1</a>
                <a class="link mx-3" href="/Home/Index">Dashboard</a>
                <a class="link me-3" href="/Home/Login">Login</a>
            </div>
        </div> 
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - American International University, Bangladesh</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
